@font-face {
  font-family: "ExtraBold";
  src: url(fonts/Roboto-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "LightItalic";
  src: url(fonts/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Regular";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
}

/* Contact Details */

.contact-section {
  padding: 0;
  margin: 1rem;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
  text-align: center;
}

.contact-image {
  flex: 1;
  min-width: 300px;
  background-color: #fff;
}

.contact-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
}

.contact-text-box {
  flex: 1;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-width: 300px;
}

.contact-text {
  max-width: 500px;
  width: 100%;
}

.contact-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-text {
  font-family: "LightItalic";
  margin-bottom: 1.5rem;
}

/* Contact Info Section */

.contact-info {
  list-style: none;
  padding: 0;
  margin: 4rem;
  text-align: center;
  font-family: "Regular", sans-serif;
}

.contact-info li {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: start;
}

.contact-info a {
  text-decoration: none;
}

.email-button {
  margin-top: 2rem;
  display: inline-block;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.email-button:hover {
  background-color: #f9faf8;
  color: #3882f6;
  transition: 0.6s ease-in-out;
}
