@font-face {
  font-family: "ExtraBold";
  src: url(fonts/Roboto-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "LightItalic";
  src: url(fonts/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Regular";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
}

/*@font-face {
  font-family: "Regular" format("truetype");
  src: url(fonts/Roboto-Regular.ttf);
}*/

* {
  margin: 0;
  padding: 0;
}

.bg-color {
  background-color: #1f2937;
}

.nav {
  padding: 1.5rem 0;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.nav-logo h2 {
  font-size: 24px;
  color: #f9faf8;
  font-family: ExtraBold;
}

.nav-links .link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 1.1rem;
  font-family: Regular;
  
}

.hero-container {
  max-width: 80%;
  padding: 8rem 0;
  margin: 0 auto;
  display: flex;
}

.hero-container .hero-text {
  width: 50%;
}

.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-family: ExtraBold;
  margin-bottom: 1rem;

}

.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
  font-family: Regular;
  margin-bottom: 1rem;
}

.hero-text button {
 background-color: #3882f6;
 color: #e5e7eb;
 border: none;
 padding: 7px 14px;
 border-radius: 5px;
 
}

.hero-img {
  width: 50%;
}